# Create a user with access to simpledb, then paste their credentials here
# and rename to credentials.py
AWS_ACCESS_KEY_ID = "<YOUR ACCESS KEY ID>"
AWS_SECRET_KEY = "<YOUR SECRET KEY>"
AWS_REGION = 'us-east-1'